[submodule "gpAux/extensions/pgbouncer/source"]
	path = gpAux/extensions/pgbouncer/source
	url = http://git.inspur.com/majingwei/pgbouncer.git
	branch = pgbouncer_1_8_1
[submodule "gpMgmt/bin/pythonSrc/ext"]
	path = gpMgmt/bin/pythonSrc/ext
	url = http://git.inspur.com/majingwei/pythonsrc-ext.git
	branch = master
[submodule "gpcontrib/gpcloud/test/googletest"]
	path = gpcontrib/gpcloud/test/googletest
	url = http://git.inspur.com/majingwei/googletest.git
