---
- hosts: hdb_all
  remote_user: root
  connection: ssh
  vars_files:
    - ./variable/deployment_config.yml
  tasks:
  #---ping
    - include_tasks: ./check/ping.yml
  #---操作系统
    - include_tasks: ./check/operating_system_version.yml
  #---Centos防火墙
    - include_tasks: ./check/firewall.yml
      when: os == "Centos"


#----master
- hosts: master
  remote_user: root
  connection: ssh
  vars_files:
    - ./variable/inHybrid_config.yml
  tasks:
  #---端口
    - include_tasks: ./check/master_port.yml
  #---目录
    - include_tasks: ./check/master_directory.yml

#---segment
- hosts: segment
  remote_user: root
  connection: ssh
  vars_files:
    - ./variable/inHybrid_config.yml
  tasks:
  #---端口
    - include_tasks: ./check/segment_port.yml
  #---目录
    - include_tasks: ./check/segment_directory.yml
