- hosts: hdb_all
  vars_files: 
    - ./variable/deployment_config.yml
  remote_user: root
  connection: ssh
  gather_facts: no
  tasks:
    - name: /etc/hosts
      blockinfile:
        path: "/etc/hosts"
        block: "{{ item.ip }}    {{ item.hostname }}"
        marker: "#{mark}hdb_host:{{ item.id }}"
        state: "present"
        create: yes
      with_items: "{{ cluster }}"
