---
#---包拷贝
- hosts: hdb_all
  vars_files: 
    - ./variable/deployment_config.yml
  remote_user: root
  become: yes
  become_method: sudo
  connection: ssh
  gather_facts: yes
  tasks:
    - name: create inhybrid admin user
      user:
        name: "{{ inhybrid_admin_user }}"
        password: "{{ inhybrid_admin_password | password_hash('sha512', 'DvkPtCtNH+UdbePZfm9muQ9pU') }}"
    - name: copy package to host
      copy:
        src: "{{ package_path }}"
        dest: /tmp
    - name: install package
      unarchive:
        copy: no
        src: "/tmp/{{ package_path | basename }}"
        dest: "/usr/local/"
        mode: "755"
    - name: cleanup package file from host
      file:
        path: "/tmp/{{ package_path | basename }}"
        state: absent
    - name: find install directory
      find:
        paths: /usr/local
        patterns: 'inhybrid*'
        file_type: directory
      register: installed_dir
    - name: change install directory ownership
      file:
        path: '{{ item.path }}'
        owner: "{{ inhybrid_admin_user }}"
        group: "{{ inhybrid_admin_user }}"
        recurse: yes #递归
      with_items: "{{ installed_dir.files }}"
    - name: update pam_limits
      pam_limits:
        domain: "{{ inhybrid_admin_user }}"
        limit_type: '-'
        limit_item: "{{ item.key }}"
        value: "{{ item.value }}"
      with_dict:
        nofile: 524288
        nproc: 131072
#----版本验证
    - name: find installed inhybrid version
      shell: ". /usr/local/inhybrid-db/inhybrid_path.sh && /usr/local/inhybrid-db/bin/postgres --hdb-version"
      register: postgres_hdb_version
    - name: fail if the correct inHybrid version is not installed
      fail:
        msg: "Expected inHybrid version {{ version }}, but found '{{ postgres_hdb_version.stdout }}'"
      when: "version is not defined or version not in postgres_hdb_version.stdout"
#-----------------初始化数据库
#segement节点操作
- hosts: segment
  remote_user: hdbadmin
  connection: ssh
  vars_files: 
    - ./variable/inHybrid_config.yml
  tasks:
    - name: create inHybridDB segement data directory  
      shell: "mkdir -p {{ declare_DATA_DIRECTORY }}"
    - name: create inHybridDB segement mirror directory
      shell: "mkdir -p {{ declare_MIRROR_DATA_DIRECTORY }}"
      when: declare_MIRROR_DATA_DIRECTORY is defined

#master节点操作
- hosts: master
  vars_files: 
    - ./variable/inHybrid_config.yml
    - ./variable/deployment_config.yml
  remote_user: hdbadmin
  connection: ssh
  tasks:
    - name: create inHybridDB master data directory
      file:
        path: "{{ MASTER_DIRECTORY }}"
        state: directory
    - name: make config dir
      file:
         path: "/home/hdbadmin/hdb_conf"
         state: directory
    - name: copy hdbinitsystem_config to master
      template:
        src: "{{ inHybrid_config_template_path }}"
        dest: "/home/hdbadmin/hdb_conf/hdbinitsystem_config"
    - name: copy hostlist to master
      template:
        src: "{{ hostlist_template_path }}"
        dest: "{{ MACHINE_LIST_FILE }}"
    - name: init inHybridDB
      shell: ". /usr/local/inhybrid-db/inhybrid_path.sh && hdbinitsystem -c /home/hdbadmin/hdb_conf/hdbinitsystem_config -a"
