---
- hosts: master
  remote_user: root
  gather_facts: yes
  vars_files:
    - ./variable/inHybrid_config.yml
  tasks:
    - name: stop cluster
      become: yes
      become_method: sudo
      become_user: hdbadmin
      shell: "export MASTER_DATA_DIRECTORY={{ MASTER_DIRECTORY }}/{{ SEG_PREFIX }}-1 && \
              . /usr/local/inhybrid-db/inhybrid_path.sh && hdbstop -a"
      ignore_errors: True
      register: hdbstop_result
    - name: show hdbstop_result
      debug:
        var: hdbstop_result.stdout_lines
        verbosity: 0
    - name: rm logs
      shell: "rm -rf /home/hdbadmin/gpAdminLogs"
    - name: rm master data
      shell: "rm -rf {{ MASTER_DIRECTORY }}"
#-----
- hosts: segment
  remote_user: root
  gather_facts: yes
  vars_files:
    - ./variable/inHybrid_config.yml
  tasks:
    - name: rm segement data
      shell: "rm -rf {{ declare_DATA_DIRECTORY }}"
    - name: rm segement mirror data
      shell: "rm -rf {{ declare_MIRROR_DATA_DIRECTORY }}"
      when: declare_MIRROR_DATA_DIRECTORY is defined
#-----
- hosts: hdb_all
  remote_user: root
  gather_facts: yes
  vars_files:
    - ./variable/inHybrid_config.yml
  tasks:
    - name: kill process
      shell: "kill -9 $(pgrep postgres)"
      ignore_errors: True
    - name: rm tmp
      shell: "rm -rf /tmp/.s.* /tmp/gp*"