---
- hosts: hdb_all
  remote_user: root
  become: yes
  become_method: sudo
  connection: ssh
  gather_facts: yes
  tasks:
    - name: reset
      shell: "rm -rf /tmp/.s.* /tmp/gp* /home/hdbadmin/hdbdata /home/hdbadmin/gpAdminLogs"